:root{
    --pcolor:#FCCC53;
    --scolor:#439182;
    --accent-color:#4d4d4d;
    --hover-accent:#fff;
    --f-s-s :1.3rem;
    --f-s-m :1.6rem;
    --f-s-b :2.8rem;
    --f-f-t :'Cabinet Grotesk',sans-serif;
    --f-f-b :'Satoshi',sans-serif;
    --f-w-b :700;
    --f-w-r :400;
    /* line-height: 30px;
    letter-spacing: -0.01em;
    line-height: 22px; */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--f-f-t);
    
}
/* utilities */

.btn{
    padding: 1rem 1.4rem; 
   display: inline-block;
   color: #000;
   text-decoration: none;
   /* min-width: 16rem; */
   align-items: center;
}
.btn-clear{
    border: 1px solid #000;
}
.btn-cta{
    background-color: var(--pcolor);
}
.link{ 
    margin-top: 2em;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: calc(var(--f-s-m) - 5px);
}
.header{
    height: 150vh;
}
.hero{
    background: url('Rectangle 1.png') no-repeat center center/cover;
    color: #fff;
    height: 80%;
    padding: 3rem;
    
}
.navbar{
    display: flex;
    /* height: 8vh; */
    justify-content: space-between;
    align-items: center;
    padding:1rem 1.5rem ;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navlinks{
    list-style: none;
    display: flex;
    gap: 2rem;
    
}
.navlink{
    font-size: 0.9Srem;
    text-decoration: none;
    color:var(--accent-color);
    /* position: relative;
    width: auto;
    padding-bottom: 0.7rem; */
}
.hero-item{
    margin-top: 30%;
    display: flex;
    justify-content: space-between;
    height: 16em;
}

.hero-header{
    font-size: 4rem;
    font-weight: var(--f-w-b);
    align-self: flex-start;
}
.stats{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-self: flex-end;
}
.s-c-title{
    font-size: var(--f-s-b);
    font-weight: var(--f-w-b);
}
.s-c-text{
    margin-top: 1rem;
    text-align: center;
    font-size: var(--f-s-m);
    font-weight: var(--f-w-r);
}
.columns{
    display: flex;
}
.column{
    background-color: var(--scolor);
    font-size: var(--f-s-m);
    color: #fff;
    padding: 3.6em 4.6em;
    min-height: calc(16.2rem + 20px);
    width: 100%;
}
.column-cta{
    background-color: var(--pcolor);
    color: var(--accent-color);
}
.column-cta > a{
    color: var(--accent-color);
}

.blogs{
    display: flex;
    margin-left: 0;
    margin-right: 0;

}
.blog{
    background: url('Rectangle 11.png') no-repeat center center/cover;
}
.blog{
    background: url('Rectangle 12.png') no-repeat center center/cover;
}
main{
    margin-top:8rem;
}

.sct-txt{
    text-align: center;
}
.section-header{
    font-size: 3.4rem;
    width: 40%;
    margin:3rem auto;
    font-weight: 600;
    color: #292929;

}
.section-text{
    font-size: var(--f-s-s);
    color: var(--accent-color);
}
.dropdown{
    width: 65%;
    margin: 4rem auto;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000;
    
}
.tab{
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    color: var(--accent-color);
}
.title{
    font-weight: 600;
}



.footer{
    background-color: #191a27;
    color: #868686;
}