:root{
    --pcolor:#FCCC53;
    --scolor:#439182;
    --accent-color:#cfcfcf;
    --hover-accent:#fff;
    --f-s-s :16px;
    --f-s-b :24px;
    --f-f-t :'Cabinet Grotesk';
    --f-f-b :'Satoshi';
    --f-w-b :700;
    --f-w-r :400;
    /* line-height: 30px;
    letter-spacing: -0.01em;
    line-height: 22px; */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-style: normal;
    
}
/* utilities */

.btn{
    padding: 1rem 1.4rem; 
   display: inline-block;
   color: #000;
   text-decoration: none;
   /* min-width: 16rem; */
   align-items: center;
}
.btn-clear{
    border: 1px solid #000;
}
.btn-coloured{
    background-color: var(--pcolor);
}
.link{
    padding: 0.8rem 2.4rem; 
    display: inline-block;
}
.header{
    height: 120vh;
}
.hero{
    background: url('Rectangle 1.png') no-repeat center center/cover;
    height: 80%;
}
.navbar{
    display: flex;
    /* height: 8vh; */
    justify-content: space-between;
    align-items: center;
    padding:1rem 1.5rem ;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navlinks{
    list-style: none;
    display: flex;
    gap: 2rem;
    
}
.navlink{
    font-size: 0.9Srem;
    text-decoration: none;
    color:var(--accent-color);
    /* position: relative;
    width: auto;
    padding-bottom: 0.7rem; */
}
